<h2 mat-dialog-title>Modifier cet utilisateur</h2>
<mat-dialog-content>
  <form class="per-form" [formGroup]="userFormUpdate">

    <!-- <mat-form-field appearance="fill" class="width-75" style="margin-left: 5px; width: 49%;">
      <input formControlName="id" readonly matInput placeholder="Entrer le nom d'utilisateur" maxlength="50" name="id" />
    </mat-form-field> -->

    <mat-form-field appearance="fill" class="width-75" style="margin-left: 5px; width: 49%;">
      <mat-label>Nom de l'utilisateur</mat-label>
      <input formControlName="nom" matInput placeholder="Entrer le nom d'utilisateur" maxlength="50" name="nom" />
      <!-- <mat-error *ngIf="userFormUpdate.controls['nom'].invalid">Veuillez entrer un nom valide</mat-error> -->
    </mat-form-field>

    <mat-form-field appearance="fill" class="width-75" style="margin-left: 5px; width: 49%;">
      <mat-label>Prenom de l'utilisateur</mat-label>
      <input formControlName="prenom" matInput placeholder="Entrer le prenom d'utilisateur" maxlength="50"
        name="prenom" />
      <!-- <mat-error *ngIf="userFormUpdate.controls['prenom'].invalid">Veuillez entrer un prénom valide</mat-error> -->
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill" class="width-75" style="margin-left: 5px; width: 49%;">
      <mat-label>Login Window</mat-label>
      <input formControlName="login" matInput placeholder="Entrer le login windows d'utilisateur" maxlength="50"
        name="login" />
      <!-- <mat-error *ngIf="userFormUpdate.controls['login'].invalid">Veuillez saisir un identifiant valide</mat-error> -->
    </mat-form-field>

    <mat-form-field appearance="fill" class="no-label-field" style="margin-left: 5px; width: 49%;">
      <mat-label>Merci de selectionner le profil</mat-label>
      <mat-select formControlName="profile" panelClass="my-select-panel-class">
        <mat-option *ngFor="let item of roles" [value]="item.libele">{{item.libele}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="width-75" style="margin-left: 5px; width: 49%;">
      <mat-label>Telephone de l'utilisateur</mat-label>
      <input type="tel" mask formControlName="telephone" matInput placeholder="Entrer le telephone d'utilisateur"
        maxlength="50" name="telephone" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="width-75" style="margin-left: 5px; width: 49%;">
      <mat-label>Merci de selectionner l'etat d'utilisateur</mat-label>
      <mat-select formControlName="etat" panelClass="my-select-panel-class">
        <mat-option [value]="true">Activer</mat-option>
        <mat-option [value]="false">Desactvier</mat-option>
      </mat-select>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill" class="width-75" style="margin-left: 5px; width: 99%;">
      <mat-label>Email de l'utilisateur</mat-label>
      <input formControlName="email" matInput placeholder="Entrer l'amail' d'utilisateur" maxlength="50" name="email" />
      <!-- <mat-error *ngIf="userFormUpdate.controls['email'].invalid">Veuillez saisir un e-mail valide</mat-error> -->
    </mat-form-field>

  </form>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="onClose()">Annuler</button>
  <button mat-button color="primary" (click)="modifierUser()">
    <mat-icon>how_to_reg</mat-icon> Update
  </button>
</mat-dialog-actions>
